.DS_Store
*.xcodeproj
*.pyc
/src/mozc_build_tools
/src/mozc_version.txt
/src/protobuf/files
/src/third_party/*
/src/out_*
/src/Makefile
/src/**/*.mk
/src/android/**/local.properties
/src/android/**/AndroidManifest.xml
/src/android/**/proguard-project.txt
/src/android/**/bin
/src/android/**/gen
/src/android/**/gen_for_adt
/src/android/assets
/src/android/libs
/src/android/obj
/src/android/resources_oss/res/raw
/.vagrant
